<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LCBOApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9757169B1DE1F7F300B94E30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>975716B41DE1F7F300B94E30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>975716BF1DE1F7F400B94E30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
